Final Deliverables/1_Final_Code/flows (1).json
[{"id":"b44ee8b2d32e24bb","type":"tab","label":"MZ_FIZBIN","disabled":false,"info":"","env":[]},{"id":"6dbf4d95fd41e4ce","type":"ibmiot in","z":"b44ee8b2d32e24bb","authentication":"apiKey","apiKey":"a987c51e790e22b7","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"SMARTBINZID1","applicationId":"","deviceType":"MZ","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":250,"y":180,"wires":[["030583e67973594b","e4b5665afc867912","53258b24695a3fe3"]]},{"id":"030583e67973594b","type":"debug","z":"b44ee8b2d32e24bb","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":180,"wires":[]},{"id":"e4b5665afc867912","type":"function","z":"b44ee8b2d32e24bb","name":"Distance 1","func":"msg.payload = msg.payload.dist\nglobal.set('d',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":220,"wires":[["1311deb9cddb0410","030583e67973594b","621f394d4ac09c6f"]]},{"id":"53258b24695a3fe3","type":"function","z":"b44ee8b2d32e24bb","name":"LOAD cell 1","func":"msg.payload =msg. payload.load\nglobal.set('l', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":300,"wires":[["52471c22bb46e6e8"]]},{"id":"b8232a087e98cf84","type":"http in","z":"b44ee8b2d32e24bb","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":210,"y":420,"wires":[["9561150bace7686e"]]},{"id":"be20700cb1d97f0f","type":"http response","z":"b44ee8b2d32e24bb","name":"","statusCode":"","headers":{},"x":710,"y":400,"wires":[]},{"id":"9561150bace7686e","type":"function","z":"b44ee8b2d32e24bb","name":"function 1","func":"msg.payload = { \"dist\": global.get('d'), \"load\": global.get('l')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":420,"wires":[["be20700cb1d97f0f"]]},{"id":"8571271cb9e75261","type":"ibmiot in","z":"b44ee8b2d32e24bb","authentication":"apiKey","apiKey":"bf9996433728395e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"SAMRTBINID2","applicationId":"","deviceType":"MZ2","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":250,"y":500,"wires":[["63819e8058600c9f","e3c1408d3f4d1058","eedef11531c7454a"]]},{"id":"e3c1408d3f4d1058","type":"function","z":"b44ee8b2d32e24bb","name":"Distance 2","func":"msg.payload = msg.payload.dist\nglobal.set('d',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":540,"wires":[["63819e8058600c9f","a73da55eb5d7e355"]]},{"id":"eedef11531c7454a","type":"function","z":"b44ee8b2d32e24bb","name":"LOAD cell 2","func":"msg.payload =msg. payload.load\nglobal.set('l', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":600,"wires":[["6537b562859116b8"]]},{"id":"63819e8058600c9f","type":"debug","z":"b44ee8b2d32e24bb","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":480,"wires":[]},{"id":"cfc940f3c348a7d3","type":"http in","z":"b44ee8b2d32e24bb","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":190,"y":660,"wires":[["9b822a5e426ba749"]]},{"id":"9b822a5e426ba749","type":"function","z":"b44ee8b2d32e24bb","name":"function 2","func":"msg.payload = { \"dist\": global.get('d'), \"load\": global.get('l')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":660,"wires":[["aa1156f0ce5021c4"]]},{"id":"aa1156f0ce5021c4","type":"http response","z":"b44ee8b2d32e24bb","name":"","statusCode":"","headers":{},"x":670,"y":660,"wires":[]},{"id":"aa04cca228d08279","type":"ibmiot in","z":"b44ee8b2d32e24bb","authentication":"apiKey","apiKey":"bf9996433728395e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"SMARTBINZID3","applicationId":"","deviceType":"MZ","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":250,"y":760,"wires":[["8f749a613ad8ecfc","4985fd42b288f08f","017e06eeb2c26f63"]]},{"id":"8e1294bf08c168f1","type":"http in","z":"b44ee8b2d32e24bb","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":190,"y":900,"wires":[["08a3a32c4b31313b"]]},{"id":"fd65bbc6bfd16a6a","type":"debug","z":"b44ee8b2d32e24bb","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":940,"wires":[]},{"id":"8f749a613ad8ecfc","type":"debug","z":"b44ee8b2d32e24bb","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":760,"wires":[]},{"id":"e11d18fecf3915de","type":"function","z":"b44ee8b2d32e24bb","name":"Distance 4","func":"msg.payload = msg.payload.dist\nglobal.set('d',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":980,"wires":[["fd65bbc6bfd16a6a","d8c9482bcbbcba48"]]},{"id":"4985fd42b288f08f","type":"function","z":"b44ee8b2d32e24bb","name":"Distance 3","func":"msg.payload = msg.payload.dist\nglobal.set('d',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":780,"wires":[["8f749a613ad8ecfc","f27665e8f37d9a61"]]},{"id":"017e06eeb2c26f63","type":"function","z":"b44ee8b2d32e24bb","name":"LOAD cell 3","func":"msg.payload =msg. payload.load\nglobal.set('l', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":820,"wires":[["235c57847a934001"]]},{"id":"8bc12c536ad75ffe","type":"function","z":"b44ee8b2d32e24bb","name":"LOAD cell 4","func":"msg.payload =msg. payload.load\nglobal.set('l', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1020,"wires":[["9f409b4b97e978a6"]]},{"id":"08a3a32c4b31313b","type":"function","z":"b44ee8b2d32e24bb","name":"function 3","func":"msg.payload = { \"dist\": global.get('d'), \"load\": global.get('l')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":900,"wires":[["a88b421ecc3afbad"]]},{"id":"a88b421ecc3afbad","type":"http response","z":"b44ee8b2d32e24bb","name":"","statusCode":"","headers":{},"x":690,"y":900,"wires":[]},{"id":"c6def628d38a06c1","type":"ibmiot in","z":"b44ee8b2d32e24bb","authentication":"apiKey","apiKey":"bf9996433728395e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"SAMRTBINZID4","applicationId":"","deviceType":"MZ4","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":230,"y":1000,"wires":[["e11d18fecf3915de","8bc12c536ad75ffe","fd65bbc6bfd16a6a"]]},{"id":"37694d69f9c7858e","type":"http in","z":"b44ee8b2d32e24bb","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":230,"y":1080,"wires":[["73d30fce8749b1bf"]]},{"id":"73d30fce8749b1bf","type":"function","z":"b44ee8b2d32e24bb","name":"function 4","func":"msg.payload = { \"dist\": global.get('d'), \"load\": global.get('l')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1080,"wires":[["1c3212176769495f"]]},{"id":"1c3212176769495f","type":"http response","z":"b44ee8b2d32e24bb","name":"","statusCode":"","headers":{},"x":670,"y":1080,"wires":[]},{"id":"1311deb9cddb0410","type":"ui_gauge","z":"b44ee8b2d32e24bb","name":"","group":"f3b64a4198b3c46c","order":1,"width":4,"height":4,"gtype":"gage","title":"Filing percentage","label":"Cm","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":240,"wires":[]},{"id":"52471c22bb46e6e8","type":"ui_gauge","z":"b44ee8b2d32e24bb","name":"","group":"f3b64a4198b3c46c","order":2,"width":4,"height":4,"gtype":"gage","title":"Weight of the bin","label":"KG","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":300,"wires":[]},{"id":"a73da55eb5d7e355","type":"ui_gauge","z":"b44ee8b2d32e24bb","name":"","group":"f3b64a4198b3c46c","order":4,"width":4,"height":4,"gtype":"gage","title":"Filling percentage 2","label":"Cm","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":540,"wires":[]},{"id":"6537b562859116b8","type":"ui_gauge","z":"b44ee8b2d32e24bb","name":"","group":"f3b64a4198b3c46c","order":5,"width":4,"height":4,"gtype":"gage","title":"Weight of the bin 2","label":"KG","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":580,"wires":[]},{"id":"f27665e8f37d9a61","type":"ui_gauge","z":"b44ee8b2d32e24bb","name":"","group":"f3b64a4198b3c46c","order":18,"width":4,"height":4,"gtype":"gage","title":"Filling percentage 3","label":"Cm","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":850,"y":800,"wires":[]},{"id":"d8c9482bcbbcba48","type":"ui_gauge","z":"b44ee8b2d32e24bb","name":"","group":"f3b64a4198b3c46c","order":15,"width":4,"height":4,"gtype":"gage","title":"Filling percentage 4","label":"Cm","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":770,"y":1000,"wires":[]},{"id":"235c57847a934001","type":"ui_gauge","z":"b44ee8b2d32e24bb","name":"","group":"f3b64a4198b3c46c","order":19,"width":4,"height":4,"gtype":"gage","title":"Weight of the bin 3","label":"KG","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":850,"y":840,"wires":[]},{"id":"9f409b4b97e978a6","type":"ui_gauge","z":"b44ee8b2d32e24bb","name":"","group":"f3b64a4198b3c46c","order":16,"width":4,"height":4,"gtype":"gage","title":"Weight of the bin 4","label":"KG","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":770,"y":1040,"wires":[]},{"id":"621f394d4ac09c6f","type":"ui_text","z":"b44ee8b2d32e24bb","group":"f3b64a4198b3c46c","order":26,"width":0,"height":0,"name":"","label":"Arun","format":"{{msg.payload}}","layout":"row-spread","className":"","x":750,"y":200,"wires":[]},{"id":"2e0b298c01b6a436","type":"ui_spacer","z":"b44ee8b2d32e24bb","name":"spacer","group":"f3b64a4198b3c46c","order":3,"width":1,"height":1},{"id":"802072d0ecd36bb3","type":"ui_spacer","z":"b44ee8b2d32e24bb","name":"spacer","group":"f3b64a4198b3c46c","order":6,"width":1,"height":1},{"id":"3da077045839270e","type":"ui_spacer","z":"b44ee8b2d32e24bb","name":"spacer","group":"f3b64a4198b3c46c","order":7,"width":1,"height":1},{"id":"a2c77a1368f077a0","type":"ui_spacer","z":"b44ee8b2d32e24bb","name":"spacer","group":"f3b64a4198b3c46c","order":8,"width":1,"height":1},{"id":"1145f4308e3e4f1f","type":"ui_spacer","z":"b44ee8b2d32e24bb","name":"spacer","group":"f3b64a4198b3c46c","order":9,"width":1,"height":1},{"id":"eac6be37f5575dfe","type":"ui_spacer","z":"b44ee8b2d32e24bb","name":"spacer","group":"f3b64a4198b3c46c","order":10,"width":1,"height":1},{"id":"594e96312e7ee97d","type":"ui_spacer","z":"b44ee8b2d32e24bb","name":"spacer","group":"f3b64a4198b3c46c","order":11,"width":1,"height":1},{"id":"601a8cdc9269fa05","type":"ui_spacer","z":"b44ee8b2d32e24bb","name":"spacer","group":"f3b64a4198b3c46c","order":12,"width":1,"height":1},{"id":"cd647be06309bab3","type":"ui_spacer","z":"b44ee8b2d32e24bb","name":"spacer","group":"f3b64a4198b3c46c","order":13,"width":18,"height":1},{"id":"bdda6257c5d35cfb","type":"ui_spacer","z":"b44ee8b2d32e24bb","name":"spacer","group":"f3b64a4198b3c46c","order":14,"width":18,"height":1},{"id":"76e89daa8f490054","type":"ui_spacer","z":"b44ee8b2d32e24bb","name":"spacer","group":"f3b64a4198b3c46c","order":17,"width":1,"height":1},{"id":"ed49ae599dccae07","type":"ui_spacer","z":"b44ee8b2d32e24bb","name":"spacer","group":"f3b64a4198b3c46c","order":20,"width":1,"height":1},{"id":"4a4187d3de95331c","type":"ui_spacer","z":"b44ee8b2d32e24bb","name":"spacer","group":"f3b64a4198b3c46c","order":21,"width":1,"height":1},{"id":"6cd7cdd5999d54c5","type":"ui_spacer","z":"b44ee8b2d32e24bb","name":"spacer","group":"f3b64a4198b3c46c","order":22,"width":1,"height":1},{"id":"3385e6d746ecb891","type":"ui_spacer","z":"b44ee8b2d32e24bb","name":"spacer","group":"f3b64a4198b3c46c","order":23,"width":1,"height":1},{"id":"cd16c1a8b14377ed","type":"ui_spacer","z":"b44ee8b2d32e24bb","name":"spacer","group":"f3b64a4198b3c46c","order":24,"width":1,"height":1},{"id":"e66d948f21d88e2c","type":"ui_spacer","z":"b44ee8b2d32e24bb","name":"spacer","group":"f3b64a4198b3c46c","order":25,"width":1,"height":1},{"id":"e78d72b63fe07872","type":"ui_spacer","z":"b44ee8b2d32e24bb","name":"spacer","group":"f3b64a4198b3c46c","order":26,"width":1,"height":1},{"id":"a987c51e790e22b7","type":"ibmiot","name":"ABDUL N TEAM","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"bf9996433728395e","type":"ibmiot","name":"ABDUL N TEAM","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"f3b64a4198b3c46c","type":"ui_group","name":"Arun","tab":"2b19469befff9adb","order":2,"disp":true,"width":"18","collapse":false,"className":""},{"id":"2b19469befff9adb","type":"ui_tab","name":"control","icon":"control","disabled":false,"hidden":false}]